/* Style de l'en-tête */
header {
    background-color:#ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 10;
    width: 100%; 
    height: 65px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px;
}

header .logo {
    height: 40px;
    width: auto; 
}

header ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 2% 4%;
    list-style: none;
}

header ul li {
    margin: 0 50px;
}

header ul li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-family: "Poppins", Arial, Helvetica, "sans-serif";
    transition: transform 0.2s ease;
    display: inline-block;
}

header ul li a:hover {
    transform: scale(1.02);
}

/* Style du corps et du contenu principal */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 80vh;
    justify-content: center; 
    align-items: center;
    padding: 6%;
    padding-top: 65px; /* Compense la hauteur de l'en-tête */
}

.container {
    background-color: rgba(167, 172, 244, 0.2);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 800px;
    min-width: 280px;
    height: 350px;
    min-height: 200px;
    max-height: 80vh;
    padding: 0%;
    margin: auto;
    margin-top: 3%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

#forgotPasswordForm {
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 700px;
    margin: 5% auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column; /* Organise les enfants verticalement */
    align-items: flex-start;
}

.container h1 {
    font-family: "PolySans", "Poppins", helvetica, arial, "sans-serif";
    font-weight: 601;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    width: auto;
    margin-top: 6%;
}

#forgotPasswordForm label {
    margin-bottom: 8px; 
    font-family: "Poppins", Arial, Helvetica, "sans-serif";
    font-weight: 600;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    display: block;
    text-align: left;
    margin-bottom: 2%;
}

#forgotPasswordForm input[type="email"] {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 0.1px solid #000000;
    box-sizing: border-box;
    font-size: 0.92em;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

button {
    font-family: "PolySans", "Poppins", helvetica, arial, "sans-serif";
    font-size: 1rem;
    padding: 12px 22px;
    font-weight: 400;
    color: #ffffff;
    background-color: #04549a;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    border: none;
    margin-top: 6%;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center; 
    text-align: center;
}

button:hover {
    background-color: #1c79d0;
    color: #ffffff;
}

#errorMsg {
    color: rgb(67, 47, 156);
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-size: 0.9em;
}

/* Style du pied de page */
footer {
    background-color: #0f3455;
    padding: 1%;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    position: relative;
}

footer .premiere_partie a {
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
}

.colonne h4 {
    color: #ffffff;
}

.colonne {
    display: flex;
}

footer ul {
    list-style: none;
}

.colonne ul li {
    margin-bottom: 2%;
}

.premiere_partie {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    padding: 1.5% 0;
}

.derniere_partie p {
    color: white;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 2%;
}
