/* Global Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%; 
    height: 100%; 
    overflow-x: hidden; 
}

/* Header Styles */
header {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 10;
    width: 100%; 
    height: 65px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px;
}

header .logo {
    height: 40px;
    width: auto; 
}

header ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 2% 4%;
    list-style: none;
}

header ul li {
    margin: 0 50px;
}

header ul li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-family: "Poppins", Arial, Helvetica, "sans-serif";
    transition: transform 0.2s ease;
    display: inline-block;
}

header ul li a:hover {
    transform: scale(1.02);
}

/* Search Bar Styles */
.recherche{
    padding : 0% 10%;
}

.search-bar {
    margin-top: 110px;
    width: 100%;
    min-width: 900px;
    height: 160px;
    background-color: #003463;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 25px;
    padding: 1.5%;
}

.search-container {
    display: flex;
    width: 100%;
    min-width: 200px;
    height: 55px ;
    background-color: #ffffff;
    border-radius:15px ;
    border: none;
    padding: 0% 1%;
}

.search-input{
    flex: 1;
    padding: 5px 3px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    height : 55px;
    font-family: "Poppins",Arial, Helvetica, "sans-serif";
    box-sizing: border-box;
    outline: none;
}

.material-symbols-outlined{
    display: flex;
    align-self: center;
    margin-right: 1%;
    border: none;
}

.search-field1{
    display: flex;
    width: 55%;
    background-color:#ffffff;
    border-radius: 15px;
    min-height: 55px;
    transition: background-color 0.3s ease;
    border: none;
}


.search-field{
    padding: 0;
    display: flex;
    border: none;
}


/* Style for the combined button */
.button-with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #134068;
    color: white ;
    border: solid 2px;
    border-radius: 10px;
    height: 50px;
    margin-top: 15px;
    max-width: 200px;
    min-width: 100px;
    padding: 0.8% 1.5%;
    transition: background-color 0.2s;
    cursor: pointer;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.button-with-icon:hover {
    background-color: #174f81;
}


.button-with-icon .material-symbols-outlined {
    font-size: 1.2rem; /* Adjust icon size */
    margin-right: 5px; /* Space between icon and text */
}


.button-with-icon .button-text {
    color: #ffffff;
}






#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 5;
    display: none; /* Keep hidden by default */
}

.close-button {
    position: absolute;
    font-family: "PolySans", "Poppins", helvetica, arial, "sans-serif";
    top: 20px;
    right: 15px;
    background: white;
    border: none;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
    line-height: 1;
    padding: 1% 1.5%;
    border-radius: 15%;
}

.close-button:hover {
    color: #000;
    background-color: rgba(0, 0, 0, 0.1); 
}

#popup-filters {
    width: 100%;  
    max-width: 700px;
    border: 0.5px solid rgb(0, 0, 0);
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 3%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    max-height: 90vh;
    overflow-y: auto; /* Activer le défilement vertical */ 
}

#popup-filters h3{
    font-family: "PolySans", "Poppins", helvetica, arial, "sans-serif";
    font-weight: 601;
    font-style: normal;
    color: #113b61;
    font-size: 1.4rem;
    width: auto;
    position: relative;
    margin-bottom: 5%;
}

/* Container for each checkbox group */
.checkbox-group {
    display: flex;
    gap: 15px; /* Space between checkboxes */
    flex-wrap: wrap; /* Wrap checkboxes to the next line if space is limited */
}

/* Individual checkbox wrapper to keep label and checkbox together */
.checkbox-wrapper {
    display: flex;
    align-items: center;
}

/* Optional: Increase space between label and checkbox */
.checkbox-wrapper label {
    margin-left: 5px;
}

.checkbox-wrapper input[type="checkbox"] {
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    cursor: pointer;
}

/* Hide the default checkbox appearance */
.checkbox-wrapper input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none; /* For Safari */
    width: 20px;
    height: 20px;
    border: 1px solid #134068; /* Border color of the checkbox */
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    background-color: #f0f0f0; /* Unchecked background color */
}

/* Checked background color */
.checkbox-wrapper input[type="checkbox"]:checked {
    background-color: #134068; /* Color for checked background */
    border:none;
}

/* Optional: Checkmark styling */
.checkbox-wrapper input[type="checkbox"]:checked::after {
    content: '✔'; /* Unicode character for checkmark */
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.checkbox-wrapper label {
    font-size: 1rem; /* Optional: adjust label size to match checkbox */
    margin-left: 8px; /* Adjust spacing between checkbox and label */
}


.popup-content{
    font-family: "PolySans", "Poppins", helvetica, arial, "sans-serif";
    margin-bottom: 7%;
    display: flex;
    flex-direction: column;
}

.popup-content > label{
    font-weight: 600;
    align-self:flex-start;
    margin-bottom: 2%;

}
.selection, #startDate {
    font-family: "PolySans", "Poppins", helvetica, arial, "sans-serif";
    padding: 8px; /* Ajustez selon vos besoins */
    border-radius: 8px;
    width: 100%;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    appearance: none;
    cursor: pointer;
    border: none;
}



.apply-filters-button {
    font-family: "PolySans", "Poppins", helvetica, arial, "sans-serif";
    font-size: 0.9rem;
    padding: 12px 22px;
    font-weight: 400;
    color: #ffffff;
    background-color: #134068;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: none;
    margin-top: 5%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.popup-content-btn{
    display: flex;
    justify-content: flex-end;
}

.apply-filters-button:hover {
    background-color: #19568c;
    color: #ffffff;
}


/* Main Content Styles */
main {
    margin-top: 15px;
    padding: 0;
}

/* Style du conteneur principal */
.offers-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    max-width: 400px;
    border: none;
    background: none;
    margin-left: 200px;
}

/* Style du texte */
.offers-label {
    font-size: 24px; /* Taille standard */
    font-weight: bold; /* Texte en gras */
    color: #333; /* Couleur sombre pour le contraste */
}

/* Style du nombre d'offres */
.offers-number {
    font-size: 26px; /* Texte plus grand */
    font-weight: bold; /* En gras */
    color: #333; /* Bleu vif */
    margin-left: 8px; /* Espacement entre le label et le nombre */
    animation: fadeIn 1s ease-in-out; /* Animation lors de l'apparition */
}



#offersListContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.offers-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

/* Individual offer card styling */
.offer-card {
    font-family: "Poppins", Arial, Helvetica, "sans-serif";
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px 25px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    transition: transform 0.2s ease;
    margin-bottom: 15px;
    border: 2px solid rgb(222, 222, 222);
    margin-bottom: 20px;
    margin-left:auto; 
    margin-right:auto;
    width: 850px;
    height: 180px;
    display: flex;
    flex-direction: column;
}

.offer-card h4 {
    font-family: "Poppins", Arial, Helvetica, "sans-serif";
    font-size: 17px;
    margin: 0;
    color: #020e5c;
    font-weight: 400;
    margin-bottom: 15px;
}

.offer-card .position{
    font-family: "Poppins", Arial, Helvetica, "sans-serif";
    font-size: 22px;
    margin: 0;
    color: #333;
    margin-bottom: 15px;
}

.offer-details-row {
    display: flex; /* Aligne les enfants sur une ligne */
    align-items: center; /* Centre les éléments verticalement */
    justify-content: space-between; /* Espacement entre les éléments */
    gap: 20px; /* Espacement horizontal entre les enfants */
}

.location {
    display: flex; /* Aligne les éléments enfants en ligne */
    align-items: center; /* Aligne verticalement au centre */
    gap: 20px; /* Espacement horizontal entre les éléments */
}

.location p {
    margin: 0; /* Supprime les marges par défaut */
    font-size: 1rem;
    font-weight: 500;
    color: #555;
    font-family: "Poppins", Arial, Helvetica, "sans-serif";
    display: flex;
    flex-direction: row;
}

.material-symbols-outlined {
    font-size: 20px;
    margin-right: 5px;
}

.offer-card .view-offer-button {
    font-family: "Poppins", Arial, Helvetica, "sans-serif";
    font-weight: 400;
    color: rgb(10, 2, 85);
    border:rgb(10, 2, 88) solid 2px;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.2s;
}

.offer-card .view-offer-button:hover {
    background-color: rgb(181, 197, 233);
}

.offer-card:hover {
    transform: scale(1.01);
    border: 2px solid rgb(158, 158, 158);
}










.section {
    display: flex;
    justify-content: center; 
    padding: 20px 30px; 
    box-sizing: border-box; 
}

#offerDetailsContainer {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    width: 850px;
    background-color: #ffffff;
    padding: 15px;
    transition: transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    border-radius: 20px; 
    margin: 0 auto; 
}


#offer-position {
    font-size: 30px; /* Taille de la police */
    font-family: "Poppins",Arial, Helvetica, "sans-serif";
    font-weight: bold;
    text-transform: uppercase; 
    letter-spacing: 1px;
    
}

.offer-info {
    display: flex; 
    align-items: center; 
    font-family: "Poppins",Arial, Helvetica, "sans-serif";
    justify-content: flex-start; 
    font-size: 16px; 
    letter-spacing: 2px;
    color: #1f1f1f; 
    margin-bottom: 20px;
}
.offer-info span.offer-location,
.offer-info span.offer-duration {
    font-weight: 500; 
    font-family: "Poppins",Arial, Helvetica, "sans-serif";
}

.offer-info .material-symbols-outlined {
    font-size: 20px; 
    color: #555; 
}

#offer-entreprise{
    font-size: 20px; /* Taille de la police */
    font-family: "Poppins",Arial, Helvetica, "sans-serif";
    font-weight: bold;
    margin-bottom: 5px;

}

#offer-publish-date{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: grey;
    margin-bottom: 20px;
}
#experience-education{
    display: flex;
    flex-direction: row;
    background-color:rgb(222, 222, 222);
    padding:10px 80px;
    border-radius: 20px;
    color:#020e5c;
    margin-bottom: 20px;
    width: auto;
    gap : 190px;
    box-sizing: border-box;

}

#experience-education span{
    font-size:14px ;
}
#offer-experience-level, #offer-education-level {
    font-size: 15px;
    font-family: "Poppins",Arial, Helvetica, "sans-serif";
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 7px;

}

#experience{
    display: flex;
    flex-direction: column;

}

#education{
    display: flex;
    flex-direction: column;

}


.btn-apply {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background-color:#00458f;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 10px rgba(213, 212, 212, 0.1);
    display: block;
    margin: 20px auto;
    text-align: center;
}

.btn-apply:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.retour {
    background-color: rgb(222, 222, 222);
    display:inline;
    border:none;
    padding: 12px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.retour-button:hover {
    background-color: #979797;
}







/* Footer Styles */
footer {
    background-color: #012545;
    padding: 1%;
    font-family:"Poppins",Arial, Helvetica, "sans-serif";
    position: relative;
}

footer .premiere_partie a {
    font-style: normal;
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
}

.colonne h4 {
    color: #ffffff;
}

.colonne {
    display: flex;
}

footer ul {
    list-style: none;
}

.colonne ul li {
    margin-bottom: 2%;
}

.premiere_partie {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    padding: 1.5% 0;
}

.derniere_partie p {
    color: white;
    font-family: "Poppins",Arial, Helvetica, "sans-serif";
    text-align: center;
    padding: 2%;
}

.active {
    display: block !important;
}


/* Responsive Styles */
@media (max-width: 1024px) {
    .search-bar {
        min-width: 700px;
    }
    
    .search-container {
        width: 100%;
    }

    .button-with-icon {
        max-width: 20%;
    }

    .offer-card {
        padding: 15px;
    }

    footer .premiere_partie {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}
